@import './colors.scss';

.card-bs {
  background-color: $white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

.panel-bs {
  background-color: $white;
  box-shadow: -4px 0px 16px rgba(0, 0, 0, 0.05);
}
